[Unit]
Description=Broker Services Startup
Required=rabbitmq-server.service apache2.service
[Service]
Type=simple
Restart=always
RestartSec=3
User=jlhourcadeqa
ExecStart=/home/jlhourcadeqa/ForecastrFiles/networkLoggerListenerBackup.php

[Install]
WantedBy=multi-user.target
